<script setup>
import {ref, onMounted} from 'vue';
import {useContractStore} from '~/stores/contract.js';
import {useWalletConnection} from "~/composables/useWalletConnection.js";
import { useRouter } from 'vue-router';
import {useProductsStore} from "~/stores/products.js";

const router = useRouter();
const route = useRoute();

definePageMeta({
  layout: 'cab-template',
});

const form = ref({
  name: '',
  categoryId: 0,
  tokenPrice: 0,
  image: null,
  description: ''
});

const newTokensCount = ref(0);

const updateCollectionButton = ref(false);
const updateMetadataButton = ref(false);
const newTokensButton = ref(false);


const contractStore = useContractStore();
const {checkWalletConnection} = useWalletConnection();
const {getProduct, editProductMetadata} = useProductsStore();
const product = ref({});
const blockChainProduct = ref({
  id: 0,
  name: '',
  categoryId: 0,
  tokenPrice: 0,
  tokens: []
});

const updateCollection = async () => {
  console.log(form.value);
  updateCollectionButton.value = true;
  updateMetadataButton.value = true;
  newTokensButton.value = true;
  await contractStore.updateProductCollection(
      product.value.blockchainId,
      product.value.id,
      {
        name: form.value.name,
        categoryId: form.value.categoryId,
        tokenPrice: form.value.tokenPrice
      }
  );
  updateCollectionButton.value = false;
  updateMetadataButton.value = false;
  newTokensButton.value = false;
  await router.push('/cab/products');
};

const updateMetadata = async () => {
  console.log(form.value);
  updateCollectionButton.value = true;
  updateMetadataButton.value = true;
  newTokensButton.value = true;
  await editProductMetadata(
      route.params.id,
      {
        description: form.value.description,
        image: form.value.image
      }
  );
  updateCollectionButton.value = false;
  updateMetadataButton.value = false;
  newTokensButton.value = false;
  await router.push('/cab/products');
};

const addTokens = async () => {
  updateCollectionButton.value = true;
  updateMetadataButton.value = true;
  newTokensButton.value = true;
  await contractStore.addTokens(
      product.value.blockchainId,
      product.value.id,
      newTokensCount.value
  );
  updateCollectionButton.value = false;
  updateMetadataButton.value = false;
  newTokensButton.value = false;
  await router.push('/cab/products');
};



const getCategories = async () => {
  const rawCategories = await contractStore.getAllCategories();
  console.log(rawCategories);
  categories.value = rawCategories.map(rawCategory => ({
    id: rawCategory[0].toString(),
    name: rawCategory[1],
    editing: false
  }));
};

const getCollection = async () => {
  const rawCollection = await contractStore.getProductCollection(product.value.blockchainId);
  console.log(rawCollection);
  blockChainProduct.value = {
    id: rawCollection[0].toString(),
    name: rawCollection[1],
    categoryId: rawCollection[2].toString(),
    tokenPrice: rawCollection[3].toString(),
    tokens: rawCollection[5],
  };
};

onMounted(async () => {
  await checkWalletConnection();
  await getCategories();
  product.value =  await getProduct(route.params.id);
  form.value.name = product.value.name;
  form.value.categoryId = product.value.categoryId;
  form.value.tokenPrice = product.value.price;
  form.value.numberOfTokens = product.value.quantity;
  form.value.description = product.value.description;
  await getCollection();
});

const handleFileUpload = (event) => {
  form.value.image = event.target.files[0];
};
const categories = ref([]);
</script>

<template>
  <div>
    <form>
      <label for="name">Collection Name</label>
      <input class="form-control" type="text"  v-model="form.name" placeholder="Collection Name" required>
      <label for="categoryId">Category</label>
      <select class="form-control mb-3" v-model="form.categoryId" required>
        <option v-for="category in categories" :key="category.id" :value="category.id">
          {{ category.name }}
        </option>
      </select>
      <label for="tokenPrice">Token Price</label>
      <input class="form-control mb-3" type="number" v-model.number="form.tokenPrice" placeholder="Token Price" required>
      <button :disabled="updateCollectionButton" class="theme-btn-1 btn p-2 mb-30 btn-block" @click="updateCollection()">Update Product Collection</button>
    </form>
    <form>
      <div>
        <img :src="product.image" alt="" class="img-fluid">
      </div>
      <input type="file" name="image" @change="handleFileUpload" class="form-control mb-3">
      <textarea class="form-control mb-3" v-model="form.description"></textarea>
      <button :disabled="updateMetadataButton" class="theme-btn-1 btn p-2 mb-30 btn-block" @click="updateMetadata()">Update Product Metadata</button>
    </form>
    <div>
      <div>
        Number of tokens: {{ product.quantity }}
      </div>
      <div class="d-flex">
        <input type="number" v-model="newTokensCount">
        <button :disabled="newTokensButton" @click="addTokens()" class="theme-btn-1 btn p-2 btn-block">Add tokens</button>
      </div>
    </div>
    <div>
      <div>Tokens</div>
      <div v-for="token in blockChainProduct.tokens">
        <div>
          <div>{{ token }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.img-fluid{
  max-height: 300px;
}
</style>