<script setup>
import {ref, onMounted} from 'vue';
import {useContractStore} from '~/stores/contract.js';
import {useWalletConnection} from "~/composables/useWalletConnection.js";
import { useRouter } from 'vue-router';

const router = useRouter();

definePageMeta({
  layout: 'cab-template',
});

const form = ref({
  name: '',
  categoryId: 0,
  tokenPrice: 0,
  numberOfTokens: 0,
  image: null,
  description: ''
});

const button = ref(false);

const contractStore = useContractStore();
const {checkWalletConnection} = useWalletConnection();
const createProductCollection = async () => {
  console.log(form.value);
  button.value = true;
  await contractStore.createProductCollection(
      form.value
  );
  button.value = false;
  await router.push('/cab/products');
};

const getCategories = async () => {
  const rawCategories = await contractStore.getAllCategories();
console.log(rawCategories);
  categories.value = rawCategories.map(rawCategory => ({
    id: rawCategory[0],
    name: rawCategory[1],
    editing: false
  }));
};

onMounted(async () => {
  await checkWalletConnection();
  await getCategories();
});

const handleFileUpload = (event) => {
  form.value.image = event.target.files[0];
};
const categories = ref([]);
</script>

<template>
  <div>
    <form @submit.prevent="createProductCollection">
      <label for="name">Collection Name</label>
      <input class="form-control" type="text"  v-model="form.name" placeholder="Collection Name" required>
      <label for="categoryId">Category</label>
      <select class="form-control mb-3" v-model="form.categoryId" required>
        <option v-for="category in categories" :key="category.id" :value="category.id">
          {{ category.name }}
        </option>
      </select>
      <label for="tokenPrice">Token Price</label>
      <input class="form-control mb-3" type="number" v-model.number="form.tokenPrice" placeholder="Token Price" required>
      <label for="numberOfTokens">Number of Tokens</label>
      <input class="form-control mb-3" type="number" v-model.number="form.numberOfTokens" placeholder="Number of Tokens"
      required>
      <input type="file" name="image" @change="handleFileUpload" class="form-control mb-3">
      <textarea class="form-control mb-3" v-model="form.description"></textarea>
      <button :disabled="button" class="theme-btn-1 btn p-2 mb-30 btn-block" type="submit">Create Product Collection</button>
    </form>
  </div>
</template>

<style scoped>

</style>