<script setup>
import {ref, onMounted} from 'vue';
import {useContractStore} from '~/stores/contract.js';
import {useProductsStore} from '~/stores/products.js';
import {storeToRefs} from "pinia"

definePageMeta({
  layout: 'cab-template',
});

const contractStore = useContractStore();
const {getProducts} = useProductsStore();
const {products} = storeToRefs(useProductsStore());

const deleteProductCollection = async (dbId, blockchainId) => {
  await contractStore.deleteProduct(dbId, blockchainId);
  await getProducts();
};

onMounted(async () => {
  await getProducts();
});

</script>

<template>
  <div>
    <div class="d-flex justify-content-between">
      <nuxt-link to="/cab/products/create" class="theme-btn-1 btn p-2 mb-30 btn-block">
        Add Product
      </nuxt-link>
    </div>
    <div>
      <div class="tab-content">
        <div id="liton_tab_1_3">
          <div class="ltn__myaccount-tab-content-inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products" :key="product.id">
                  <td>{{ product.id }}</td>

                  <td>
                    {{ product.name }}
                  </td>
                  <td>
                    {{ product.price }}
                  </td>
                  <td>
                    {{ product.quantity }}
                  </td>
                  <td class="table-action">
                    <nuxt-link :to="`/cab/products/${product.id}`"><i class="fas fa-edit"></i></nuxt-link>
                  </td>
                  <td class="table-action">
                    <i @click="deleteProductCollection(product.id, product.blockchainId)" class="fas fa-trash"></i>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>