/* ====================================================
    RTL Code
==================================================== */

.ltn__car-dealer-form-box .nice-select {
    padding-right: 50px;
}
.ltn__car-dealer-form-box .ltn__custom-icon .nice-select::before {
    position: absolute;
    right: 20px;
}

.ltn__call-to-4-img-1 {
    left: 0;
    right: auto;
}
.ltn__call-to-4-img-2 {
    right: 0;
    left: auto;
}

