<script setup>
import Pagination from "~/components/Pagination.vue";
import {useRouter} from "vue-router";

definePageMeta({
  layout: 'cab-template',
});
const router = useRouter();
const route = useRoute()
const page = computed(() => {
  // Ensure the page query parameter is a number and greater than 0
  const pageNumber = parseInt(route.query.page, 10);
  return isNaN(pageNumber) || pageNumber < 1 ? 1 : pageNumber;
});
const {getOrders} = useOrderStore();
const {orders, limit} = storeToRefs(useOrderStore());
const totalPages = ref(0);

const fetchData = async (page) => {
  console.log(page);
  await getOrders(page);
  totalPages.value = Math.ceil(orders.value.count / limit.value);
  router.push({ query: { ...route.query, page: page } });
};

const goToOrder = (orderId) => {
  router.push(`/cab/orders/${orderId}`);
};

onMounted(async () => {
  await getOrders(page.value);
  totalPages.value = Math.ceil(orders.value.count / limit.value);
});


</script>

<template>
  <div>
    <div>
      <div class="tab-content">
        <div id="liton_tab_1_3">
          <div class="ltn__myaccount-tab-content-inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>LastName</th>
                  <th>Ordered at</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="order in orders.rows" @click="goToOrder(order.id)" :key="order.id">
                    <td>{{ order.id }}</td>
                    <td>
                      {{ order.firstName }}
                    </td>
                    <td>
                      {{ order.lastName }}
                    </td>
                    <td>
                      {{ order.createdAt }}
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <Pagination :currentPage="page" :totalPages="totalPages" @page-changed="fetchData" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>