<script setup lang="ts">

</script>

<template>
  <!-- SLIDER AREA START (slider-3) -->
  <div class="ltn__slider-area ltn__slider-3---  section-bg-1--- mt-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <!-- CATEGORY-MENU-LIST START -->
          <div class="ltn__category-menu-wrap">
            <div class="ltn__category-menu-title">
              <h2 class="section-bg-1 text-color-white---">categories</h2>
            </div>
            <div class="ltn__category-menu-toggle ltn__one-line-active">
              <ul>
                <!-- Submenu Column - unlimited -->
                <li class="ltn__category-menu-item ltn__category-menu-drop">
                  <a href="shop.html"><i class="icon-shopping-bags"></i>Vegetables and Fruits </a>
                </li>
                <li class="ltn__category-menu-more-item-child">
                  <a href="shop.html"><i class="icon-options"></i>Dry Nuts</a>
                </li>
                <!-- Single menu end -->
              </ul>
            </div>
          </div>
          <!-- END CATEGORY-MENU-LIST -->
        </div>
        <div class="col-lg-9">
          <div class="ltn__slide-active-2 slick-slide-arrow-1 slick-slide-dots-1">
              <img src="/img/slider/dalle.png" alt="Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SLIDER AREA END -->
</template>

<style scoped>

</style>