<script setup lang="ts">
import { useProductsStore } from '~/stores/products.js'
import {storeToRefs} from "pinia";
import {useCartStore} from "~/stores/cart";

const {getProducts} = useProductsStore();
const {addToCart} = useCartStore();
const {products} = storeToRefs(useProductsStore());

await getProducts();
 const splitArrayIntoChunks = (array, chunkSize) => {
  const result = [];
  for (let i = 0; i < array.length; i += chunkSize) {
    const chunk = array.slice(i, i + chunkSize);
    result.push(chunk);
  }
  return result;
}

const splittedProducts = splitArrayIntoChunks(products.value, 2);

</script>

<template>
  <!-- PRODUCT TAB AREA START (product-item-3) -->
  <div class="ltn__product-tab-area ltn__product-gutter pt-115 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area ltn__section-title-2--- text-center">
            <!-- <h6 class="section-subtitle ltn__secondary-color">// Cars</h6> -->
            <h1 class="section-title">Our Products</h1>
            <p>A highly efficient slip-ring scanner for today's diagnostic requirements.</p>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active show" id="liton_tab_3_1">
              <div class="ltn__product-tab-content-inner">
                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                  <!-- ltn__product-item -->
                  <div v-for="productsArray in splittedProducts" class="col-lg-3">
                    <div v-for="product in productsArray" :key="product.id" class="ltn__product-item ltn__product-item-3 text-center">
                      <div class="product-img">
                        <a href="product-details.html"><img :src=product.image alt="#"></a>
                        <div class="product-hover-action">
                          <ul>
                            <li>
                              <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                <i class="far fa-eye"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" @click="addToCart(product.id, 1)" title="Add to Cart" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                <i class="fas fa-shopping-cart"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="product-info">
                        <div class="product-ratting">
                          <ul>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                            <li class="review-total"> <a href="#"> (0)</a></li>
                          </ul>
                        </div>
                        <h2 class="product-title"><a href="product-details.html">{{product.name}}</a></h2>
                        <div class="product-price">
                          <span>{{product.price}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PRODUCT TAB AREA END -->
</template>

<style scoped>

</style>