<script setup>
import {ref} from 'vue';
import {useContractStore} from '~/stores/contract.js';
import {useWalletConnection} from "~/composables/useWalletConnection.js";

definePageMeta({
  layout: 'cab-template',
});

const contractStore = useContractStore();
const categories = ref([]);
const {checkWalletConnection} = useWalletConnection();
const categoryName = ref(''); // Ця реактивна змінна буде зберігати назву категорії

const createCategory = async () => {
  await contractStore.createCategory(categoryName.value);
  await getCategories();
  categoryName.value = '';
};

const editCategory = async (category) => {
  await contractStore.editCategory(category);
  await getCategories();
};

const deleteCategory = async (categoryId) => {
  await contractStore.deleteCategory(categoryId);
  await getCategories();// Передача назви категорії
};

const getCategories = async () => {
  const rawCategories = await contractStore.getAllCategories();
  console.log(rawCategories);
  if (rawCategories) {
    categories.value = rawCategories.map(rawCategory => ({
      id: rawCategory[0].toString(),
      name: rawCategory[1],
      editing: false
    }));
  }
};

onMounted(async () => {
  await checkWalletConnection();
  await getCategories();
});
</script>

<template>
  <div>
    <div class="d-flex justify-content-between">
      <input
          type="text"
          class="w-75"
          placeholder="Input category name"
          v-model="categoryName"
      >
      <button
          class="theme-btn-1 btn p-2 mb-30 btn-block"
          @click="createCategory"
      >
        Add Category
      </button>
    </div>
    <div>
      <div class="tab-content">
        <div id="liton_tab_1_3">
          <div class="ltn__myaccount-tab-content-inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Id</th>
                  <th colspan="2">Name</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categories" :key="category.id">
                  <td>{{ category.id }}</td>

                  <td colspan="2">
                    <input v-if="category.editing" v-model="category.name">
                    <span v-else @click="category.editing = true">{{ category.name }}</span>
                  </td>
                  <td class="table-action">
                    <button @click="category.editing = true" v-if="!category.editing">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button v-if="category.editing" @click="editCategory(category)">
                      Save
                    </button>
                  </td>
                  <td class="table-action">
                    <i v-if="!category.editing" @click="deleteCategory(category.id)" class="fas fa-trash"></i>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.table-action {
  width: 10%;
}
</style>
