<script setup lang="ts">

</script>

<template>
  <footer class="ltn__footer-area  ">
    <div class="footer-top-area  section-bg-1 plr--5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-about-widget">
              <div class="footer-logo mb-10">
                <div class="site-logo">
                  <img src="/img/logo.png" alt="Logo">
                </div>
              </div>
              <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.</p>
              <div class="footer-address">
                <ul>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-placeholder"></i>
                    </div>
                    <div class="footer-address-info">
                      <p>Brooklyn, New York, United States</p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-call"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="tel:+0123-456789">+0123-456789</a></p>
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon">
                      <i class="icon-mail"></i>
                    </div>
                    <div class="footer-address-info">
                      <p><a href="mailto:example@example.com">example@example.com</a></p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="ltn__social-media mt-20">
                <ul>
                  <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Company</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="about.html">About</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="shop.html">All Products</a></li>
                  <li><a href="locations.html">Locations Map</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Services.</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="order-tracking.html">Order tracking</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="account.html">My account</a></li>
                  <li><a href="about.html">Terms & Conditions</a></li>
                  <li><a href="about.html">Promotional Offers</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-md-6 col-sm-6 col-12">
            <div class="footer-widget footer-menu-widget clearfix">
              <h4 class="footer-title">Customer Care</h4>
              <div class="footer-menu">
                <ul>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="account.html">My account</a></li>
                  <li><a href="wishlist.html">Wish List</a></li>
                  <li><a href="order-tracking.html">Order tracking</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-12 col-12">
            <div class="footer-widget footer-newsletter-widget">
              <h4 class="footer-title">Newsletter</h4>
              <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
              <div class="footer-newsletter">
                <div id="mc_embed_signup">
                  <form action="https://gmail.us5.list-manage.com/subscribe/post?u=dde0a42ff09e8d43cad40dc82&amp;id=72d274d15d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email*">
                      </div>
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dde0a42ff09e8d43cad40dc82_72d274d15d" tabindex="-1" value=""></div>
                      <div class="clear">
                        <div class="btn-wrapper">
                          <button class="theme-btn-1 btn"  type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"><i class="fas fa-location-arrow"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <h5 class="mt-30">We Accept</h5>
              <img src="/img/icons/payment-4.png" alt="Payment Image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-1 border-top  ltn__border-top-2--- plr--5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="ltn__copyright-design clearfix">
              <p>All Rights Reserved @ Company <span class="current-year"></span></p>
            </div>
          </div>
          <div class="col-md-6 col-12 align-self-center">
            <div class="ltn__copyright-menu text-right text-end">
              <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Claim</a></li>
                <li><a href="#">Privacy & Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- All JS Plugins -->
<!--  <script src="js/plugins.js"></script>-->
<!--  &lt;!&ndash; Main JS &ndash;&gt;-->
<!--  <script src="js/main.js"></script>-->

</template>

<style scoped>

</style>