<script setup>
import { computed, defineProps, defineEmits } from 'vue';
import { useRouter, useRoute } from 'vue-router';

const router = useRouter();
const route = useRoute();

const props = defineProps({
  currentPage: Number,
  totalPages: Number
});
const emit = defineEmits(['page-changed']);


const firstPages = computed(() => {
  const pages = [];
  for (let i = 1; i <= Math.min(3, props.totalPages); i++) {
    pages.push(i);
  }
  return pages;
});

console.log(props.currentPage);


const showEllipsis = computed(() => props.totalPages > 3 && props.currentPage < props.totalPages);

const changePage = (page) => {
  if (page > 0 && page <= props.totalPages) {
    emit('page-changed', page);

  }
};

</script>

<template>
  <div class="ltn__pagination-area text-center">
    <div class="ltn__pagination">
      <ul>
        <!-- Previous Button -->
        <li v-if="props.totalPages !== 1" :class="{ disabled: currentPage <= 1 }">
          <a href="#" @click="changePage(currentPage - 1)">
            <i class="fas fa-angle-double-left"></i>
          </a>
        </li>

        <!-- First Pages -->
        <li v-for="page in firstPages" :key="page" class="page-item" :class="{ active: parseInt(props.currentPage) === (page) }">
          <a href="#" @click="changePage(page)">{{ page }}</a>
        </li>

        <!-- Ellipsis -->
        <li v-if="showEllipsis" class="page-item disabled">
          <span class="page-link">...</span>
        </li>

        <!-- Last Page -->
        <li v-if="totalPages > 3" class="page-item" :class="{ active: parseInt(props.currentPage) === props.totalPages }">
          <a href="#" @click="changePage(totalPages)">{{ totalPages }}</a>
        </li>

        <!-- Next Button -->
        <li v-if="props.totalPages !== 1" class="page-item" :class="{ disabled: currentPage >= totalPages }">
          <a href="#" @click="changePage(currentPage + 1)"><i class="fas fa-angle-double-right"></i></a>
        </li>
<!--        <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>-->
<!--        <li><a href="#">1</a></li>-->
<!--        <li class="active"><a href="#">2</a></li>-->
<!--        <li><a href="#">3</a></li>-->
<!--        <li><a href="#">...</a></li>-->
<!--        <li><a href="#">10</a></li>-->
<!--        <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>-->
      </ul>
    </div>
  </div>
</template>

<style scoped>

</style>