<script setup lang="ts">
import '~/assets/css/style.css'
import '~/assets/css/plugins.css'
import '~/assets/css/responsive.css'
import '~/assets/css/font-icons.css'
import { useRoute } from 'vue-router';

const route = useRoute();
const activeRoute = computed(() => route.path);

</script>

<template>

    <Header/>
      <!-- WISHLIST AREA START -->
      <div class="liton__wishlist-area pb-70">
        <div class="container">
          <div class="row mt-5">
            <div class="col-lg-12">
              <!-- PRODUCT TAB AREA START -->
              <div class="ltn__product-tab-area">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="ltn__tab-menu-list mb-50">
                        <div class="nav">
                          <nuxt-link to="/cab/categories" data-bs-toggle="tab" :class="{ 'active show': activeRoute === '/cab/categories' }">
                            Categories
                          </nuxt-link>
                          <nuxt-link to="/cab/products" data-bs-toggle="tab" :class="{ 'active show': activeRoute.startsWith('/cab/products') }">
                            Products
                          </nuxt-link>
                          <nuxt-link to="/cab/orders" data-bs-toggle="tab" :class="{ 'active show': activeRoute.startsWith('/cab/orders') }">
                            Orders
                          </nuxt-link>
                          <nuxt-link to="/cab/orders" data-bs-toggle="tab" :class="{ 'active show': activeRoute.startsWith('/cab/storage') }">
                            Storage
                          </nuxt-link>
                          <a href="login.html">Logout <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <slot/>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PRODUCT TAB AREA END -->
            </div>
          </div>
        </div>
      </div>

    <Footer/>
</template>

<style lang="sass">
@use '~/assets/sass/style.scss'
</style>