<script setup lang="ts">
import '~/assets/css/style.css'
import '~/assets/css/plugins.css'
import '~/assets/css/responsive.css'
import '~/assets/css/font-icons.css'
</script>

<template>

  <div class="body-wrapper">
    <Header/>
    <slot/>
    <Footer/>
  </div>

</template>

<style lang="sass">
@use '~/assets/sass/style.scss'
</style>