<script setup>
const cart = useCartStore();
const {cartItems} = storeToRefs(useCartStore());
const {buyAndStoreTokens} = useContractStore();
const cartTotal = computed(() => {
  return cartItems.value.reduce((acc, cartItem) => {
    return acc + cartItem.totalSum;
  }, 0);
});

const productsForBlockchain = ref([]);
const changeQuantity = async (cartItem, quantity) => {
  await cart.changeQuantity(cartItem, quantity);
};
const deleteCartItem = async (cartItemId) => {
  await cart.deleteCartItem(cartItemId);
};

const buyAndStoreTokensHandler = async () => {
  const tx = await buyAndStoreTokens(productsForBlockchain.value);
  console.log(tx);
};
onMounted(async () => {
  await cart.getCart();
  productsForBlockchain.value = cartItems.value.map((cartItem) => {
    return {
      blockchainId: cartItem.product.blockchainId,
      price: cartItem.product.price,
      quantity: cartItem.quantity,
    };
  });
});
</script>

<template>
  <!-- SHOPING CART AREA START -->
  <div class="liton__shoping-cart-area mb-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="shoping-cart-inner">
            <div class="shoping-cart-table table-responsive">
              <table class="table">
                <tbody>
                <tr v-for="cartItem in cartItems" :key="cartItem.id">
                  <td @click="deleteCartItem(cartItem.id)" class="cart-product-remove">x</td>
                  <td class="cart-product-image">
                    <a href="product-details.html"><img :src=cartItem.product.image alt="#"></a>
                  </td>
                  <td class="cart-product-info">
                    <h4><a href="product-details.html">{{ cartItem.product.name }}</a></h4>
                  </td>
                  <td class="cart-product-price">{{ cartItem.product.price }}</td>
                  <td class="cart-product-quantity">
                    <div class="cart-plus-minus">
                      <div @click="changeQuantity(cartItem, -1)" class="dec qtybutton">-</div>
                      <input type="text" v-model="cartItem.quantity" name="qtybutton" class="cart-plus-minus-box">
                      <div @click="changeQuantity(cartItem, 1)" class="inc qtybutton">+</div>
                    </div>
                  </td>
                  <td class="cart-product-subtotal">{{ cartItem.totalSum }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="shoping-cart-total ml-30  mt-50">
              <table class="table">
                <tbody>
                <tr>
                  <td><strong>Order Total</strong></td>
                  <td><strong>{{ cartTotal }}</strong></td>
                </tr>
                </tbody>
              </table>
              <div class="btn-wrapper text-right text-end">
                <button @click="buyAndStoreTokensHandler()" class="theme-btn-1 btn btn-effect-1 w-100">Buy and store in storage</button>
              </div>
            </div>
            <div class="shoping-cart-total mr-15 mt-50">
              <table class="table">
                <tbody>
                <tr>
                  <td><strong>Order Total</strong></td>
                  <td><strong>{{ cartTotal }}</strong></td>
                </tr>
                </tbody>
              </table>
              <div class="btn-wrapper text-right text-end">
                <nuxt-link to="/checkout" class="theme-btn-1 btn btn-effect-1">Proceed to checkout</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SHOPING CART AREA END -->

  <!-- FEATURE AREA START ( Feature - 3) -->
  <div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
            <div class="row">
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/11.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Curated Products</h4>
                    <p>Provide Curated Products for
                      all product over $100</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/12.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Handmade</h4>
                    <p>We ensure the product quality
                      that is our main goal</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/13.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Natural Food</h4>
                    <p>Return product within 3 days
                      for any product you buy</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/14.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Free home delivery</h4>
                    <p>We ensure the product quality
                      that you can trust easily</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FEATURE AREA END -->
</template>

<style scoped>

</style>