<script setup>
const cart = useCartStore();
const orderStore = useOrderStore();
const {cartItems} = storeToRefs(useCartStore());
const {buyTokens} = useContractStore();

const cartTotal = computed(() => {
  return cartItems.value.reduce((acc, cartItem) => {
    return acc + cartItem.totalSum;
  }, 0);
});

const orderData = ref({
  firstName: '',
  lastName: '',
  email: '',
  phone: '',
  country: '',
  address: '',
  city: '',
  state: '',
  zip: '',
  comment: '',
  productIds: [],
});

const productsForBlockchain = ref([]);


const createOrder = async () => {
  console.log(orderData.value)
 const tx = await buyTokens(productsForBlockchain.value);
  console.log(tx);
  await orderStore.createOrder(orderData.value, tx.hash);
};

onMounted(async () => {
  await cart.getCart();
  orderData.value.productIds = cartItems.value.map((cartItem) => {
    return cartItem.product.id;
  });
  productsForBlockchain.value = cartItems.value.map((cartItem) => {
    return {
      blockchainId: cartItem.product.blockchainId,
      price: cartItem.product.price,
      quantity: cartItem.quantity,
    };
  });
});
</script>

<template>
  <div class="ltn__checkout-area mb-105">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__checkout-inner">
            <div class="ltn__checkout-single-content mt-50">
              <h4 class="title-2">Billing Details</h4>
              <div class="ltn__checkout-single-content-info">
                <form action="#">
                  <h6>Personal Information</h6>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-item input-item-name ltn__custom-icon">
                        <input type="text" v-model="orderData.firstName" name="ltn__name" placeholder="First name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-item input-item-name ltn__custom-icon">
                        <input type="text" v-model="orderData.lastName" name="ltn__lastname" placeholder="Last name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-item input-item-email ltn__custom-icon">
                        <input type="email" v-model="orderData.email" name="ltn__email" placeholder="email address">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-item input-item-phone ltn__custom-icon">
                        <input type="text" v-model="orderData.phone" name="ltn__phone" placeholder="phone number">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <h6>Country</h6>
                      <div class="input-item">
                        <select v-model="orderData.country" class="nice-select">
                          <option>Select Country</option>
                          <option value="France">France</option>
                          <option value="Germany">Germany</option>
                          <option value="Poland">Poland</option>
                          <option value="Spain">Spain</option>
                          <option value="Ukraine">Ukraine</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <h6>Address</h6>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-item">
                            <input type="text" v-model="orderData.address" placeholder="House number and street name">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <h6>Town / City</h6>
                      <div class="input-item">
                        <input type="text" v-model="orderData.city" placeholder="City">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <h6>State </h6>
                      <div class="input-item">
                        <input type="text" v-model="orderData.state" placeholder="State">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <h6>Zip</h6>
                      <div class="input-item">
                        <input type="text" v-model="orderData.zip" placeholder="Zip">
                      </div>
                    </div>
                  </div>
                  <h6>Order Notes (optional)</h6>
                  <div class="input-item input-item-textarea ltn__custom-icon">
                    <textarea name="ltn__message" v-model="orderData.comment"
                              placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ltn__checkout-payment-method mt-50">
            <h4 class="title-2">Payment</h4>
            <div class="ltn__payment-note mt-30 mb-30">
              <p>Your personal data will be used to process your order, support your experience throughout this website,
                and for other purposes described in our privacy policy.</p>
            </div>
            <button @click="createOrder()" class="btn theme-btn-1 btn-effect-1 text-uppercase">Place order</button>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shoping-cart-total mt-50">
            <h4 class="title-2">Cart Totals</h4>
            <table class="table">
              <tbody>
              <tr v-for="cartItem in cartItems" :key="cartItem.id">
                <td>{{ cartItem.product.name }}<strong>× {{ cartItem.quantity }}</strong></td>
                <td>{{ cartItem.price }}</td>
              </tr>
              <tr>
                <td><strong>Order Total</strong></td>
                <td><strong>{{ cartTotal }}</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- WISHLIST AREA START -->

  <!-- FEATURE AREA START ( Feature - 3) -->
  <div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
            <div class="row">
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/11.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Curated Products</h4>
                    <p>Provide Curated Products for
                      all product over $100</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/12.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Handmade</h4>
                    <p>We ensure the product quality
                      that is our main goal</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/13.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Natural Food</h4>
                    <p>Return product within 3 days
                      for any product you buy</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-8">
                  <div class="ltn__feature-icon">
                    <img src="/img/icons/icon-img/14.png" alt="#">
                  </div>
                  <div class="ltn__feature-info">
                    <h4>Free home delivery</h4>
                    <p>We ensure the product quality
                      that you can trust easily</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>