<script setup lang="ts">

import MenuComponent from "~/components/MainPage/MenuComponent.vue";
import FeatureComponent from "~/components/MainPage/FeatureComponent.vue";
import ProductComponent from "~/components/MainPage/ProductComponent.vue";
</script>

<template>
  <!-- Utilize Cart Menu Start -->
  <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
      <div class="ltn__utilize-menu-head">
        <span class="ltn__utilize-menu-title">Cart</span>
        <button class="ltn__utilize-close">×</button>
      </div>
      <div class="mini-cart-product-area ltn__scrollbar">
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="/img/product/1.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Red Hot Tomato</a></h6>
            <span class="mini-cart-quantity">1 x $65.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="/img/product/2.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Vegetables Juices</a></h6>
            <span class="mini-cart-quantity">1 x $85.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="/img/product/3.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Orange Sliced Mix</a></h6>
            <span class="mini-cart-quantity">1 x $92.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="/img/product/4.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Orange Fresh Juice</a></h6>
            <span class="mini-cart-quantity">1 x $68.00</span>
          </div>
        </div>
      </div>
      <div class="mini-cart-footer">
        <div class="mini-cart-sub-total">
          <h5>Subtotal: <span>$310.00</span></h5>
        </div>
        <div class="btn-wrapper">
          <a href="cart.html" class="theme-btn-1 btn btn-effect-1">View Cart</a>
          <a href="cart.html" class="theme-btn-2 btn btn-effect-2">Checkout</a>
        </div>
        <p>Free Shipping on All Orders Over $100!</p>
      </div>

    </div>
  </div>
  <!-- Utilize Mobile Menu Start -->
  <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
      <div class="ltn__utilize-menu-head">
        <div class="site-logo">
          <a href="index.html"><img src="/img/logo.png" alt="Logo"></a>
        </div>
        <button class="ltn__utilize-close">×</button>
      </div>
      <div class="ltn__utilize-menu-search-form">
        <form action="#">
          <input type="text" placeholder="Search...">
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="ltn__utilize-menu">
        <ul>
          <li><a href="#">Home</a>
            <ul class="sub-menu">
              <li><a href="index.html">Home Pages 01</a></li>
              <li><a href="index-2.html">Home Pages 02</a></li>
              <li><a href="index-3.html">Home Pages 03</a></li>
              <li><a href="index-4.html">Home Pages 04</a></li>
              <li><a href="index-5.html">Home Pages 05  <span class="menu-item-badge">video</span></a></li>
              <li><a href="index-6.html">Home Pages 06</a></li>
              <li><a href="index-7.html">Home Pages 07</a></li>
              <li><a href="index-8.html">Home Pages 08</a></li>
              <li><a href="index-9.html">Home Pages 09</a></li>
              <li><a href="index-10.html">Home Pages 10</a></li>
              <li><a href="index-11.html">Home Pages 11 <span class="menu-item-badge">Service</span></a></li>
            </ul>
          </li>
          <li><a href="#">About</a>
            <ul class="sub-menu">
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio-2.html">Portfolio - 02</a></li>
              <li><a href="portfolio-details.html">Portfolio Details</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="team-details.html">Team Details</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="locations.html">Google Map Locations</a></li>
            </ul>
          </li>
          <li><a href="#">Shop</a>
            <ul class="sub-menu">
              <li><a href="shop.html">Shop</a></li>
              <li><a href="shop-grid.html">Shop Grid</a></li>
              <li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
              <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
              <li><a href="product-details.html">Shop details </a></li>
              <li><a href="cart.html">Cart</a></li>
              <li><a href="wishlist.html">Wishlist</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="order-tracking.html">Order Tracking</a></li>
              <li><a href="account.html">My Account</a></li>
              <li><a href="login.html">Sign in</a></li>
              <li><a href="register.html">Register</a></li>
            </ul>
          </li>
          <li><a href="#">News</a>
            <ul class="sub-menu">
              <li><a href="blog.html">News</a></li>
              <li><a href="blog-grid.html">News Grid</a></li>
              <li><a href="blog-left-sidebar.html">News Left sidebar</a></li>
              <li><a href="blog-right-sidebar.html">News Right sidebar</a></li>
              <li><a href="blog-details.html">News details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio-2.html">Portfolio - 02</a></li>
              <li><a href="portfolio-details.html">Portfolio Details</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="team-details.html">Team Details</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="history.html">History</a></li>
              <li><a href="contact.html">Appointment</a></li>
              <li><a href="locations.html">Google Map Locations</a></li>
              <li><a href="404.html">404</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
        <ul>
          <li>
            <a href="account.html" title="My Account">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
              My Account
            </a>
          </li>
          <li>
            <a href="wishlist.html" title="Wishlist">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                                <sup>3</sup>
                            </span>
              Wishlist
            </a>
          </li>
          <li>
            <a href="cart.html" title="Shoping Cart">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
              Shoping Cart
            </a>
          </li>
        </ul>
      </div>
      <div class="ltn__social-media-2">
        <ul>
          <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Utilize Mobile Menu End -->

  <div class="ltn__utilize-overlay"></div>
  <!-- Utilize Cart Menu End -->
  <MenuComponent></MenuComponent>
  <FeatureComponent></FeatureComponent>
  <ProductComponent></ProductComponent>
</template>

<style scoped>

</style>