<script setup>
import { useWalletsStore } from '~/stores/wallets.js'

const metamaskStore = useWalletsStore()

const handleConnect = async () => {
  await metamaskStore.connectToWallet()
}

</script>

<template>
    <!-- LOGIN AREA START -->
    <div class="ltn__login-area pb-65">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 pt-5">
            <div class="section-title-area text-center">
              <h1 class="section-title">Sign In <br>To  Your Account using Metamask</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <div class="account-login-inner">
                  <button class="theme-btn-1 btn btn-block" @click="handleConnect" type="submit">SIGN IN</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LOGIN AREA END -->
</template>

<style scoped>

</style>